.boardWrap {
	display: flex;
	flex-direction: column;
	margin: 0 20px;

	.buttonWrap {
		display: flex;
		justify-content: center;
		margin: 10px 15px 0 15px;

		.write {
			position: relative;

			&::before {
				content: '|';
				position: absolute;
				left: 0;
			}
		}

		.btn {
			width: 200px;
			height: 45px;
			padding: 10px;
			margin: 10px 0;
			color: white;
			background-color: grey;
			font-size: bold;
		}
	}

	.contentWrap {
		width: 100%;
		.box {
			margin: 10px 0;
			height: 30px;
			border: 1px solid black;
		}
	}
}
