//BoardPost
.BoardList {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 0;
}

.formWrapper {
	width: 90%;
	margin: 0 auto;
	font-size: 16px;
}

.titleInput {
	width: 100%;
	height: 50px;
	margin: 10px 0;
	padding: 10px;
	color: #808080;
	font-size: 20px;
	font-weight: 700;
	border-radius: 3px;
	border: 1px solid #c4c4c4;
}

.submitButton {
	vertical-align: middle;
	width: 90%;
	height: 50px;
	font-size: 18px;
	margin-top: 10px;
	padding: 20px;
	background: #f5df4d;
	color: white;
	font-weight: 700;
	border: none;
	border-radius: 3px;
	line-height: 10px;
}

.moveContainer {
	margin: 10px auto;
	width: 90%;
	padding: 10px 0;
}

.moveContainerTitle {
	padding: 15px 10px 10px 10px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 700;
	border: 1px solid #c4c4c4;
	border-radius: 3px;
	line-height: 25px;
}

.moveContainerContent {
	padding: 10px 10px 40px 10px;
	border: 1px solid #c4c4c4;
	border-radius: 3px;
	line-height: 20px;

	img {
		object-fit: cover;
		max-width: 100%;
		height: auto;
	}
}

//BoardViewer
.moveContainerWriter {
	display: flex;
	justify-content: space-between;
	padding: 3px 10px 0 10px;
	margin-bottom: 10px;
	border: 1px solid #c4c4c4;
	border-radius: 3px;
	line-height: 35px;
}

.commentContainer {
	padding: 10px;
	margin: 10px 0;
	font-weight: 700;
	border: 1px solid #c4c4c4;
	border-radius: 3px;
	line-height: 35px;
}

.commentTitle {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	border-bottom: 3px solid #f5df4d;

	p {
		padding-left: 1px;
		color: black;
		font-size: 20px;
	}

	div {
		padding: 0 10px;
		background-color: #a5a5a5;
		color: white;
		font-size: 14px;
		border-radius: 3px;
		cursor: pointer;
	}
}

.commentInputContainer {
	display: flex;
	flex-wrap: wrap;
	margin: 10px 0;
}

.commentInput {
	width: 100%;
	height: 130px;
	padding: 12px;
	background-color: #d0d0d0;
	color: white;
	font-size: 15px;
	border: transparent;
	line-height: 20px;
	resize: none;
	outline: none;

	&::placeholder {
		color: white;
	}
}

.commentInputLength {
	display: flex;
	justify-content: flex-end;
	padding-right: 10px;
	margin-top: -2px;
	width: 100%;
	background-color: #d0d0d0;
	color: rgb(49, 49, 49);
	font-size: 12px;
	font-weight: 500;
}

.commentContainerContent {
	padding: 10px 10px 10px 2px;
	border-top: 3px solid #f5df4d;
	font-weight: 400;
	line-height: 22px;
	word-break: break-all;
}

.commentWriter {
	display: flex;
	justify-content: space-between;
	margin-top: 7px;

	h6 {
		font-weight: 700;
	}

	p {
		font-weight: 600;
	}
}

//AdViewer
.moveContainerAd {
	margin: 10px 0 20px 0;
	padding: 10px;
	width: 100%;
	height: 150px;
	background-image: url('https://modakfire.s3.ap-northeast-2.amazonaws.com/02679bed8be44b3cad0ebc1eca04f02bparker-burchfield-tvG4WvjgsEY-unsplash%20%281%29.jpg');
	background-size: cover;
}

//PrevNextBtn
.moveContainerPrevNext {
	@extend .moveContainer;
	margin-bottom: -10px;
	border: 1px solid #d0d0d0;
	border-radius: 3px;
}

.prevNextBtnImg {
	width: 13px;
}

.moveContainerPrevNextBtn {
	padding: 3px 15px;
	font-size: 17px;
	font-weight: 700;
	line-height: 15px;
	cursor: pointer;
}

//Pagination
.moveContainerPagination {
	margin-top: 10px;
	width: 100%;
}

.PaginationBtn {
	display: flex;
	justify-content: space-between;
	font-size: 15px;

	li {
		padding: 0 10px;
		border-radius: 3px;
		border: 2px solid #f5df4d;
		background-color: #fdf099;
	}
}
