.introduceContainer {
	overflow-x: hidden;
	display: flex;
	height: 100%;
	.leftContainer {
		padding: 25px;
		border-right: 3px solid steelblue;
	}
	.rightContainer {
		padding: 15px;
		header {
			margin: 20px 20px 20px 0;
			font-size: 20px;
			font-weight: 700;
			color: steelblue;
		}
		article {
			line-height: 23px;
			font-size: 15px;
			color: grey;
		}
		textarea {
			height: 350px;
			width: 275px;
			padding: 10px;
			border: none;
			resize: none;
			font-size: 15px;
			line-height: 20px;
			word-spacing: -5px;
		}
		textarea:focus {
			outline-color: steelblue;
		}
		.countWord {
			position: relative;
			left: 165px;
			top: 5px;
			font-size: 12px;
			color: grey;
		}
	}
}

.introducePost {
	width: 100%;
	height: 50px;
	border: grey;
	background-color: gold;
	font-size: 25px;
	font-weight: 900;
}
