.myPageBody {
	margin: 30px 0 20px;
	letter-spacing: 1.5px;

	.bio {
		max-width: 600px;
		margin: 0 auto;
		padding: 0 40px;

		.rowFlex {
			display: flex;
			align-items: center;

			img {
				width: 22vw;
				height: 20vw;
				margin-right: 2vw;
				border-radius: 100%;
			}

			.contacts {
				margin-left: 20px;
				font-size: 0.6rem;

				.name {
					font-size: 6vw;
					font-weight: bold;
					letter-spacing: 2px;
					opacity: 0.7;
				}

				.slogan {
					font-size: 2vw;
				}

				.email {
					font-size: 2vw;
				}

				.name,
				.email,
				.slogan {
					max-width: 70vw;
					padding-bottom: 1.5vw;
				}
			}
		}

		.intro {
			margin: 5vw 8vw;
			font-size: 3vw;
		}
	}

	.menu {
		display: flex;
		margin-bottom: 15px;

		.box {
			width: 25%;
			height: 20vw;
		}

		.gallery {
			background-color: rgb(255, 255, 182);
		}

		.myPosts {
			background-color: rgb(150, 200, 150);
		}

		.likePosts {
			background-color: rgb(212, 212, 57);
		}

		.commentPost {
			background-color: rgb(200, 150, 150);
		}
	}

	.contents {
		max-width: 600px;
		margin: 0 auto;
		padding: 0 40px;

		.galleryBody {
			text-align: center;

			.menuTitle {
				margin-bottom: 15px;
			}

			.galleryContainer {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				padding-top: 3px;

				.galleryBox {
					margin: 10px;
					&:hover {
						cursor: pointer;
					}

					img {
						width: 33vw;
					}
				}
			}
		}
	}
}
