@mixin flex($flex-direction, $justify-content: center, $align-items: center) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
	flex-direction: $flex-direction;
}

.headerContainer {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	@include flex(row, space-between, center);

	background-color: #fffbf9;
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
	position: sticky;
	top: 0;
	z-index: 999;

	.logo {
		.mainLogo {
			width: 110px;
			height: 60px;
			object-fit: contain;
			margin-left: 20px;
		}
	}

	.rightContainer {
		@include flex(row);

		.signIn,
		.logIn {
			margin: 2px;
			font-weight: 900;
			.namecard,
			.profile,
			.login {
				background: #ffffff;
				border: 1px solid #f18a24;
				box-sizing: border-box;
				border-radius: 5px;
				padding: 5px;
				font-size: 1.5rem;
				color: #210000;
			}
			.profile {
			}
			.login {
				margin-right: 5px;
			}
			.logout {
				background: url('https://api.iconify.design/ri/logout-box-r-line.svg') no-repeat center
					center / contain;
				width: 40px;
				height: 32px;
				margin-right: 5px;
			}
		}
	}
}

// @media screen and (max-width: 768px) { body { background-color: lightgreen; } }
