.historyContainer {
	position: relative;
	top: 10px;
	max-width: 600px;
	margin: 0 auto;
	background-color: #fffbf9;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0), 0 5px 5px rgba(0, 0, 0, 0.15);

	.line {
		position: absolute;
		left: 70px;
		width: 4px;
		height: 100%;
		background: orange;
	}
	.workTitle {
		position: relative;
		left: 70px;
		padding: 30px;
		font-size: 20px;
		font-weight: 900;
		width: 100px;
		.square {
			position: absolute;
			left: -10px;
			bottom: 29px;
			width: 25px;
			height: 25px;
			background: orange;
			border-radius: 50%;
			box-shadow: inset -3px -3px 5px rgba(0, 0, 0, 0.2);
		}
	}
	.workContainer {
		overflow-x: hidden;
		display: flex;
		height: 100%;
		.leftContainer {
			padding: 0px 20px 20px 20px;
			.yearContainer {
				font-size: 15px;
				color: grey;
				.yearInput {
					margin-top: 2px;
					width: 31px;
					font-size: 11px;
					border: 1px dashed black;
				}
			}
			.yearIcon {
				position: relative;
				left: 44.5px;
				bottom: 15px;
				width: 15px;
				height: 15px;
				background: gold;
				border: 3px solid orange;
				border-radius: 50%;
			}
		}
		.rightContainer {
			// display: inline-block;
			padding: 0px 20px 20px 20px;

			.title {
				margin: 0 6px 5px 0;
				line-height: 23px;
				font-size: 18px;
				font-weight: 700;
				border: 1px dashed black;
			}
			.subtitle {
				line-height: 23px;
				font-size: 15px;
				color: grey;
				border: 1px dashed black;
			}
			input {
				width: 200px;
				padding: 5px;
				border: 1px solid grey;
				font-size: 15px;
			}
		}
	}
	.add {
		position: relative;
		width: 30px;
		height: 30px;
		left: 57px;
		bottom: 10px;
		padding: 7px 7px 3px;
		background-color: gold;
		font-weight: 900;
		font-size: 20px;
		line-height: 10px;
		color: white;
		border-radius: 150%;
		border: 3px solid orange;
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0), 0 3px 3px rgba(0, 0, 0, 0.2);
	}
}
